#local_bulk_email_directory input[type=text] {
    padding:5px 15px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: calc(100% - 30px);
}

#local_bulk_email_directory form .btn {
    margin:0;
    padding: 10px 0;
}

#local_bulk_email_directory .help-block {
    padding:0 10px 10px 10px;
    opacity:.8;
}

#local_bulk_email_directory .span6.dimmed {
    opacity:.4;
}

#local_bulk_email_directory .span6.dimmed:hover,
#local_bulk_email_directory .span6.dimmed:active,
#local_bulk_email_directory .span6.dimmed:focus {
    opacity:1;
}

#local_bulk_email_directory ul {
    margin-left:45px;
}

#local_bulk_email_directory ul li {
    margin-bottom:15px;
}

.ui-autocomplete {
    max-height:400px;
    overflow-y: auto;
}

.ui-autocomplete .ui-menu-item {
    font-size:13px;
    padding:5px 15px;
}
.ui-autocomplete .ui-menu-item:nth-child(even) {
    background-color:#f9f9f9;
}

.ui-autocomplete .ui-state-focus {
    margin:0;
}

.ui-autocomplete .ui-menu-item:not(.ui-state-focus) {
    border: 1px transparent solid;
}
